@page "/AdministrationList"
@using Student_Hostel_Management_System.Data.Entites
@using Student_Hostel_Management_System.Services.Interfaces
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IAdminstrationDataService AdminDataSevice
@inject IStudentsDataService StudentsDataService 
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@using Syncfusion.Blazor.Layouts


<h3>Administration List</h3>

<MudTable Items="Administrations" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
    <ToolBarContent>
        <MudSpacer />

        <MudButton Color="Color.Primary"
        OnClick="AddAdministrationAsync"
        Variant="Variant.Filled"
        StartIcon="@Icons.Material.Filled.Add">
            إضافة مدير
        </MudButton>

    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>NID</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Phone</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Discription</MudTh>
        <MudTh>Operations</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="NID">@context.NID</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Phone">@context.Phone</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="Discription">@context.Discription</MudTd>
        <MudTd>
            <MudButton Color="Color.Primary"
                       OnClick="() => EditAdministrationAsync(context.Id)"
                        Variant="Variant.Filled"
                        StartIcon="@Icons.Material.Filled.Edit" />

            <MudButton Color="Color.Error"
            OnClick="() => DeleteAdministration(context)"
            Variant="Variant.Filled"
            StartIcon="@Icons.Material.Filled.Delete" />
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    private List<Administration> Administrations { get; set; } = new List<Administration>();
    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;

        _loading = true;
        // await Task.Delay(500); لتجربة التحميل
        Administrations = await AdminDataSevice.GetAll();
        _loading = false;
    }

    private async Task AddAdministrationAsync()
    {
        var options = new DialogOptions
            {
                MaxWidth = MaxWidth.Medium, // أو Small, Large, ExtraLarge
                FullWidth = true,           // ليأخذ العرض الكامل المتاح داخل MaxWidth
                CloseOnEscapeKey = true
            };
        await DialogService.ShowAsync<OperationsOnAdmin>("إضافة مدير", options);
    }

    private async Task EditAdministrationAsync(Guid adminId)
    {
        var parameters = new DialogParameters { ["Id"] = adminId.ToString() };

        var options = new DialogOptions
            {
                MaxWidth = MaxWidth.Medium,
                FullWidth = true,
                CloseOnEscapeKey = true
            };

        var dialog = DialogService.Show<OperationsOnAdmin>("تعديل طالب", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            // تم حفظ التعديلات داخل الـ Dialog — نعيد تحميل القائمة
            Administrations = await AdminDataSevice.GetAll();
            StateHasChanged(); // لكي يتم تحديث الجدول في الواجهة
        }
    }

    private async Task DeleteAdministration(Administration administration)
    {
		_loading = true;
		await AdminDataSevice.DeleteById(administration.Id);
		Snackbar.Add("تم الحذف بنجاح", Severity.Success);

		// Refresh the list after deletion
		Administrations = await AdminDataSevice.GetAll();
		_loading = false;
    }
}