@page "/AdministrationList"
@using Student_Hostel_Management_System.Data.Entites
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject AdministrationDesignServices administrationDesignServices

<h3>Administration List</h3>

<MudTable Items="Administrations" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
    <ToolBarContent>
        <MudSpacer />

        <MudButton Color="Color.Primary"
        OnClick="AddAdministration"
        Variant="Variant.Filled"
        StartIcon="@Icons.Material.Filled.Add">
            إضافة مدير
        </MudButton>

    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>NID</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Phone</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Discription</MudTh>
        <MudTh>Operations</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="NID">@context.NID</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Phone">@context.Phone</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="Discription">@context.Discription</MudTd>
        <MudTd>
            <MudButton Color="Color.Primary"
            OnClick="@EditAdministration"
            Variant="Variant.Filled"
            StartIcon="@Icons.Material.Filled.Edit" />

            <MudButton Color="Color.Error"
            OnClick="() => DeleteAdministration(context)"
            Variant="Variant.Filled"
            StartIcon="@Icons.Material.Filled.Delete" />
        </MudTd>
    </RowTemplate>
</MudTable>

<MudSwitch @bind-Value="_loading" Color="Color.Primary">Show Loading</MudSwitch>

@code {

    private List<Administration> Administrations { get; set; } = new List<Administration>();
    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        administrationDesignServices = new AdministrationDesignServices();

        _loading = true;
        await Task.Delay(500); // لتجربة التحميل
        Administrations = administrationDesignServices.GetAllAdministrations();
        _loading = false;
    }

    private void AddAdministration()
    {
        // Navigate to the add student page
        NavigationManager.NavigateTo("/AddAdministration");
    }

    private void EditAdministration()
    {
        // Navigate to the edit student page
        NavigationManager.NavigateTo("/EditStudent");
    }

    private void DeleteAdministration(Administration administration)
    {
		Administrations.Remove(administration);
    }
}